# ignore dot files/directories
.*
!.gitignore

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
node_modules
CMakeSettings.json
xcuserdata/



git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Grupo-OpenCV-BR/opencv.git
git push -u origin main